<h1>Image</h1>
<div
  class="file-upload-wrapper"
  [class.success]="uploadSuccess"
  [class.error]="uploadError"
  (drop)="onFileDrop($event)"
  (dragover)="onDragOver($event)"
  (click)="fileInput.click()"
>
  <input
    type="file"
    accept="image/*"
    (change)="onFileChange($event)"
    hidden
    #fileInput
  />
  <div class="file-dropper">
    <mat-icon>upload</mat-icon>
    <p>Drag and drop or click</p>
  </div>
</div>
<div *ngIf="imageName()">
  <div *ngIf="selectedFile || imagePreview">
    <img
      [src]="imagePreview()"
      alt="Image Preview"
      class="image-preview"
    />
    <p>
      <span class="image-name">{{ imageName() }}</span> ({{
        fileSize()
      }} KB)
    </p>
    <mat-icon class="delete-icon" (click)="removeImage()">delete</mat-icon>
  </div>
</div>

<hr>

<h1>Multiple</h1>

<div
  class="file-upload-wrapper"
  [class.success]="uploadSuccess"
  [class.error]="uploadError"
  (drop)="onFileDrop($event, 'multiple')"
  (dragover)="onDragOver($event, 'multiple')"
  (click)="fileInputMultiple.click()"
>
  <input
    type="file"
    accept="image/*"
    (change)="onFileChange($event, 'multiple')"
    multiple
    hidden
    #fileInputMultiple
  />
  <div class="file-dropper">
    <mat-icon>upload</mat-icon>
    <p>Drag and drop or click</p>
  </div>
</div>
<div *ngIf="selectedImageFiles && selectedImageFiles.length > 0">
  <div *ngFor="let image of selectedImageFiles; index as i">
    <img
      [src]="image.imagePreview"
      alt="Image Preview"
      class="image-preview"
    />
    <p>
      <span class="image-name">{{ image.imageName }}</span> ({{
        image.fileSize
      }} KB)
    </p>
    <mat-icon class="delete-icon" (click)="removeImage({index: i, data: image})">delete</mat-icon>
  </div>
</div>